
# ðŸŒ Tutorial 01 â€” Getting Started with Earth Observation (EO) in Python

Welcome! This notebook is the companion to **Tutorial 01**. You'll explore an ERA5 sample file using **xarray** and make your first plot.

> **Prerequisites** (already done in the README):
> - Create and activate a virtual environment with `venv`
> - Install packages: `pip install xarray netCDF4 matplotlib notebook`
> - Ensure the sample file exists at: `data/era5_sample.nc`

## 0. Verify your environment

In [ ]:

import sys, subprocess

def pkg_ver(name):
    try:
        mod = __import__(name)
        return getattr(mod, "__version__", "unknown")
    except Exception as e:
        return f"not found ({e})"

print("Python:", sys.version.split()[0])
print("xarray:", pkg_ver("xarray"))
print("netCDF4:", pkg_ver("netCDF4"))
print("matplotlib:", pkg_ver("matplotlib"))

## 1. Open the ERA5 dataset

In [ ]:

import xarray as xr
import matplotlib.pyplot as plt

DATA_PATH = "data/era5_sample.nc"  # adjust if needed

ds = xr.open_dataset(DATA_PATH)
ds

## 2. Explore variables, dimensions, and coordinates

In [ ]:

print("\n=== Dataset summary ===")
print(ds)

print("\n=== Data variables ===")
print(ds.data_vars)

print("\n=== Coordinates ===")
print(ds.coords)

print("\n=== Global attributes ===")
print(ds.attrs)

## 3. Inspect the time dimension

In [ ]:

times = ds.time.values
print("Number of timesteps:", ds.dims.get("time", 0))
if len(times) > 0:
    print("First time:", times[0])
    print("Last  time:", times[-1])
    # Show first 5 timestamps for reference
    print("Sample times:", times[:5])

## 4. Inspect a variable (2m temperature `t2m`)

In [ ]:

# Change 't2m' to another variable name if your file differs
var_name = "t2m"
t2m = ds[var_name]
t2m

## 5. Extract a single pixel time series (Athens, Greece)

In [ ]:

# Athens coordinates
lat_athens, lon_athens = 37.98, 23.72

t2m_point = t2m.sel(latitude=lat_athens, longitude=lon_athens, method="nearest")
print("Selected grid point (nearest to Athens):")
print("latitude:", float(t2m_point.latitude.values), "longitude:", float(t2m_point.longitude.values))
t2m_point

## 6. Plot the first timestep as a map

In [ ]:

ax = t2m.isel(time=0).plot()
plt.title("ERA5 2m Temperature (First timestep)")
plt.show()

## 7. Plot the time series at Athens

In [ ]:

t2m_point.plot(marker="o", linestyle="-")
plt.title("ERA5 2m Temperature at Athens")
plt.ylabel("Temperature (K)")
plt.xlabel("Time")
plt.show()

## 8. Quick stats & anomalies (optional)

In [ ]:

print("Mean Temperature (K):", float(t2m_point.mean()))
print("Max  Temperature (K):", float(t2m_point.max()))
print("Min  Temperature (K):", float(t2m_point.min()))

t2m_anomaly = t2m_point - t2m_point.mean()
t2m_anomaly.plot()
plt.title("Temperature Anomalies at Athens (K)")
plt.xlabel("Time")
plt.show()


---

### âœ… What you accomplished
- Opened a NetCDF file with **xarray**
- Explored variables, dimensions, and attributes
- Examined the **time** dimension
- Extracted a **point time series**
- Plotted a **map** (first timestep) and a **time series**

**Next:** Continue to **Tutorial 02 â€” Time Series Analysis** for deeper temporal analysis.